<div class="row">
<div class="col-md-12 col-lg-5 text-center">
  <%= image_tag @user.avatar.url(:medium), class: "rounded-circle", style: "width:300px;" %>
</div>
<div class="col-md-12 col-lg-7">
  <%= simple_form_for @user , url: {:action => "update_avatar", :id => @user}, method: :POST do |f| %>
    <div class="row" style="margin:20px;">
      <div class="col-4 text-right">登录邮箱：</div>
      <div class="col-8">
        <%= @user.email %>
      </div>
    </div>
    <div class="row" style="margin:20px;">
      <div class="col-4 text-right">名字：</div>
      <div class="col-8">
        <%= f.input :name, label:false  %>
      </div>
    </div>
    <div class="row" style="margin: 20px;">
      <div class="col-4 text-right">个性头像：</div>
      <div class="col-8">
        <%= f.input :avatar, label: false, as: :file %>
      </div>
    </div>
    <div class="row" style="margin: 20px;">
      <div class="col-4"></div>
      <div class="col-8 text-right">
        <%= f.button :submit, "确定提交", class: "btn btn-outline-primary" %>
      </div>
    </div>
  <% end %>
</div>
</div>
