<!DOCTYPE html>
<html>
  <head>
    <title>Devices</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="row" style="margin-top:70px;">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9">
          <%= render "common/flashes" %>
          <%= yield %>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
            <%= yield :sidebar %>
        </div>
      </div>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
